$gray: #ddd;

.footer{
    background-color: rgba(0, 0, 0, 0.7) !important;
    margin: 0 !important;
    bottom: 0;
    padding: 40px;
    padding-bottom: 23px;
    color: white;
    margin-top: 60px !important;
}

.footer p{
    color: #fff;
    font-size: 0.9rem;
    line-height: 30px;
    // font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.footer a:hover{
    text-decoration: underline!important;
}