$green:#33CC66;
$gray:#656565;

.search-widget .div-input{
    width: 40%;
    float: left;
}

.search-widget .k-input{
    align-self: center;
}

.search-widget .form-control{
    font-size: 14px;
}

.search-widget .main-content{
    padding: 10px 35px 45px 35px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
    border-radius: 3px;
}

.search-widget{
    // height: 500px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-widget input, select{
    width:100%;
    height: 35px !important;
    border-color: rgba(0,0,0,.08) !important;
    color: $gray!important;
    // padding-bottom: 10px;
    background-image: none !important;
    background-color: white !important;
    border-radius: 0.25rem;
}

.search-widget .div-select{
    width: 25%;
    float: left;
    padding-left: 5px;
}

.search-widget .btn-search{
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 0px;
    background-clip: padding-box!important;
    border:0px;
}

.search-widget ::-webkit-input-placeholder { /* Chrome */
    color: $gray!important;
  }
  .search-widget :-ms-input-placeholder { /* IE 10+ */
    color: $gray!important;
  }
  .search-widget ::-moz-placeholder { /* Firefox 19+ */
    color: $gray!important;
    opacity: 1;
  }
  .search-widget :-moz-placeholder { /* Firefox 4 - 18 */
    color: $gray!important;
    opacity: 1;
  }

.search-widget .div-btn{
    width: 10%;
    float: left;
    height: 35px;
    padding-left: 5px;
}

.search-widget .title{
    color: white;
    padding: 10px;
    font-family: cursive;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:1200px){
    .search-widget .main-content{
        width: 60%!important;
    }
}

@media only screen and (max-width:1150px){
    .search-widget{
        height: 500px!important;
    }
}

@media only screen and (max-width:1100px){
    .search-widget .main-content{
        width: 70%!important;
    }
}

@media only screen and (max-width:910px){
    .search-widget .main-content{
        width: 80%!important;
    }
}


@media only screen and (max-width:810px){
    .search-widget .main-content{
        width: 90%!important;
    }
}


@media only screen and (max-width:660px){
    .search-widget .main-content{
        width: 100% !important;
    }
}


@media only screen and (max-width:576px){
    .search-widget .main-content{
        width: 100% !important;
    }
    
    .search-widget .div-input, .div-select, .div-btn{
        width: 100% !important;
        padding: 10px 45px 10px 45px !important;
    }

    .search-widget .form-control{
        height: 35px !important;
    }

    .search-widget .btn{
        height: 35px !important;
    }
    .search-widget .btn-search ::after{
        content: " Tìm công việc"!important;
        font-size: 14px!important;
    }

    .search-widget .btn-search{
        padding: 1px 6px !important;
    }
}

@media only screen and(max-width:300px){
    .search-widget .title{
       display: none!important;
    }
}