$gray:#eee;
$green:#33CC66;

.homepage-container{
    // background-color: $gray;
}

.homepage-container img{
    width: 100%;
}

.homepage-btn-container{
    overflow: auto;
    display: flex;
    justify-content: center;
}

@media only screen and(min-width:768px){    
    .homepage-container .col-md-9{
        flex: 0 0 70%;
        max-width: 70%;
    }

    .homepage-container .col-md-3{
        flex: 0 0 30%;
        max-width: 30%;
    }
}

@media only screen and (max-width:576px){
    .homepage-btn-container .btn {
        width: 100% !important;
     }
     .homepage-container .container {
        max-width: 400px;
    }
    .homepage-right-section {
        display: none !important;
    }
}

@media only screen and (min-width:576px){
    .homepage-right-section {
        display: none !important;
    }
}

@media only screen and (min-width: 768px)
{
    .homepage-right-section {
        display: block !important;
    }
}

.homepage-btn-container .btn {
    padding-top: 7px;
    padding-bottom: 7px;
    width: 50%;
    font-weight: 500;
}

.homepage-container .list-container{
    padding-bottom: 20px;
}

.homepage-right-section .section-title{
    // padding-top: 55px;
    background-color: $green;
    margin-bottom: -3px;
    padding: 10px!important;
    margin-top: 34px;
    display: inline-flex!important;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.1rem;
}

.homepage-right-section .section-title p{
   margin: 0px;
   color: white;
   width: 100%;
   text-align: center;
}

.homepage-container .section-title{
    padding: 30px 0px 5px 5px;
}

  .homepage-right-section .item-1{
    //   margin-top: 20px;
  }

  .homepage-right-section .item-2{
    padding-top: 10px;
  }
