$green:#33CC66;
$text-size-13:13px;

.top-nav .avatar-img {
	position: relative;
	top: -9px;
	float: left;
    left: -5px;
    width: 40px!important;
    height: 40px!important;
    border-radius: 20px!important;
    border:solid 2px white;
    -webkit-transition: border 1s;
    -moz-transition: border 1s;
      -o-transition: border 1s;
         transition: border 1s;
}

.top-nav .dropdown b{
    transform: rotate(30deg);
}

.top-nav .dropdown-toggle{
    pointer-events: none;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
      -o-transition: color 1s;
         transition: color 1s;
}

.top-nav .dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
  }
 
  .top-nav .dropdown-menu{
    background-color: rgba(0, 0, 0, 0.7) !important;
    width: max-content;
  }
  
  .top-nav .navbar-brand{
    font-weight: 700;
    padding: 0px 20px 0px 20px;
    -webkit-transition: color 1s,font-weight 1s, font-size 1s;
    -moz-transition: color 1s,font-weight 1s, font-size 1s;
      -o-transition: color 1s,font-weight 1s, font-size 1s;
         transition: color 1s,font-weight 1s, font-size 1s;
}


.top-nav .navbar-brand i{
    -webkit-transition:transform 1s;
    -moz-transition:transform 1s;
      -o-transition:  transform 1s;
         transition: transform 1s;
 }

 .top-nav .navbar-brand:hover{
    font-size: 1.3rem;
    font-weight: bold;
    color: $green!important;
}

.top-nav .navbar-brand:hover i{
   transform: rotate(360deg) scaleX(-1);
}

.top-nav .dropdown-menu li:hover .sub-menu {
    visibility: visible;
  }

  .top-nav .dropdown-menu a{
      padding: 7px 20px 7px 20px;
  }
  
  .top-nav .dropdown:hover .dropdown-menu {
    display: block;
    left:auto;
    right:0;
    margin-right:-10px;
  }

  .top-nav .dropdown:hover .avatar-img{
    border:solid 2px $green;
  }

  .top-nav .dropdown:hover .dropdown-toggle{
      color: $green;
  }
  
  .top-nav .nav-tabs .dropdown-menu,
  .nav-pills .dropdown-menu,
  .navbar .dropdown-menu {
    margin-top: 0;
  }

  .top-nav .dropdown-toggle::after{
    -webkit-transition:transform 0.5s;
    -moz-transition:transform 0.5s;
      -o-transition:  transform 0.5s;
         transition: transform 0.5s;
  }

  .top-nav .dropdown:hover .dropdown-toggle::after{
    transform: scaleY(-1)!important;
  }
  
//   .navbar .sub-menu:before {
//     border-bottom: 7px solid transparent;
//     border-left: none;
//     border-right: 7px solid rgba(0, 0, 0, 0.7);
//     border-top: 7px solid transparent;
//     left: -7px;
//     top: 10px;
//   }
  
//   .navbar .sub-menu:after {
//     border-top: 6px solid transparent;
//     border-left: none;
//     border-right: 6px solid #fff;
//     border-bottom: 6px solid transparent;
//     left: 10px;
//     top: 11px;
//     left: -6px;
//   }

.top-nav .navbar {
    background-color: rgba(0, 0, 0, 0.7) !important;
    z-index: 1000;
}

.top-nav .navbar-right{
    position: absolute;
    right: 1rem;
    top: 0;
}

.top-nav .navbar-right a{
    font-size: $text-size-13;
}

.top-nav a{
    color: white;
    display: block;
    padding: 20px;
    padding-top:17px;
    padding-bottom: 17px;
}

.top-nav .active{
    background-color: $green;
    font-weight: 600;
}

.top-nav .navbar-left li a:hover{
    color: white;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 19px;
}

.top-nav .dropdown-menu a:hover{
    color: white;
}

@media only screen and (min-width:768px){
    .top-nav .navbar{
        padding: 0rem 1rem 0rem 1rem;
    }
}


@media only screen and (max-width:768px){
    .top-nav .navbar a{
        padding: 5px;
    }

    .top-nav .navbar{
        padding: 0.5259rem 1rem 0.6rem 1rem;
        background-color: rgba(0, 0, 0, 0.9)!important;
    }

    .top-nav .navbar-left li a:hover{
        color: white;
        text-decoration: none;
        padding:5px;
        padding-left: 10px;
    }
    
    .top-nav .navbar-nav{
        margin: 20px 20px 10px 20px;
    }

    .top-nav .collapse.show{
        border:0px;
        border-top-width: 0.5px;
        border-top-color: white;
        margin-top: 13px;
        border-style:solid;
    }

    .top-nav .dropdown-menu{
        float: right!important;
        margin-top: 35px!important;
    }

    .top-nav .dropdown-toggle{
        float: right;
    }

    .top-nav .navbar-right{
        position: initial;
        margin-top: 0px !important;
        margin-bottom: 0px!important;
    }

    .top-nav .dropdown-menu a:hover{
        color: white;
    }
    
    .top-nav .navbar-right a{
        font-size: $text-size-13 !important;
    }
    
}